

.admin-login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-card {
  width: 900px;
  height: 520px;
  display: flex;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(107, 83, 214, 0.856);
}

.message{
  visibility: hidden;
  font-size: 14px;
}

.message.active{
  visibility: visible;
  color: #e40855;
}

/* LEFT */
.form-box {
  width: 50%;
  background: #fff;
  padding: 45px;
}

.admin-login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}


.form h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.login-form-head p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.admin-credentials-container{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form input {
  width: 100%;
  padding: 13px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
}


.btn {
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.primary-login {
  background: #2563eb;
  color: white;
}

.switch {
  margin-top: 15px;
  font-size: 13px;
}

.switch span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.powered-by-img{
  width: 120px;
}

.admin-powered-by-title{
  margin-left: 6px;
}

.powered-by-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.admin-powered-by{
  padding-top: 120px;
}

.admin-powered-by p{
  font-size: 12px;
  color: #555;
}

/* RIGHT IMAGE */
.image-box {
  width: 50%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MOBILE */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .form-box,
  .image-box {
    width: 100%;
  }

  .image-box {
    height: 200px;
  }
}